body {
    display:flex;flex-wrap:wrap;justify-content:center;align-items:center;
    width:100vw;height:200px;margin:calc(50vh - 100px) 0px 0px 0px;padding:0px;
    font-family:Arial,sans-serif;text-align:center;
    background:cornflowerblue;color:#fff;
}
h1 {width:100%;}
p {width:100%;font-size:1.3em;}